.fieldsets {
  display: flex;
  flex-direction: column;

  & > fieldset {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
