.complete {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 14px;
  padding: 28px 24px;
  background: #101328;
  max-width: 336px;
  width: 100%;
  margin-bottom: 38px;
}

.field {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}

.subtitle {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
