.complete {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 28px 24px;
  width: 100%;
  max-width: 336px;
  background: #101328;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255 255 255 / 50%);
}

.subtitle {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
