.select {
  position: relative;
  display: flex;
  cursor: pointer;
  max-width: 288px;
  width: 100%;
}

.selected {
  border: none;
  border-radius: 4px;
  padding: 11px 12px;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #676c7a;
  background: rgb(255 255 255 / 10%);
}

.arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.arrow_rotate {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 40px;
  z-index: 100;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 7px 24px rgb(0 0 0 / 7%);
  background: #1f2235;
}

.options_display {
  display: flex;
}

.option {
  border: none;
  border-radius: 4px;
  padding: 11px 12px;
  width: 288px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #676c7a;
  background: rgb(255 255 255 / 10%);
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #ab81f1;
  }
}
