@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  @include flex-direction-column;

  align-items: center;
  width: 100%;
  gap: $gap-medium;
}

@media screen and (max-width: 875px) {
  .form {
    margin-bottom: 60px;
  }
}
