@import '../../styles/variables';
@import '../../styles/mixins';

.form {
  @include flex-direction-column;

  width: 100%;
  align-items: center;
  gap: $gap-medium;
}

@media screen and (max-width: 875px) {
  .form {
    margin-bottom: 60px;
  }
}
