.tabs {
  display: flex;
  align-items: center;
  max-width: 288px;
  width: 100%;
  background: #1f2235;
  border-radius: 14px;
  padding: 4px 5px;
}

.tab {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #676c7a;
  border: none;
  background-color: transparent;
  padding: 7px 24px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.tab_active {
  background: #ab81f1;
  border-radius: 14px;
  color: #ffffff;
}

.container {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
