@import "../../../../styles/variables";
@import "../../../../styles/typography";

.blocks {
  display: flex;
  gap: $gap-medium;
}

.block {
  display: flex;
  flex-direction: column;
  gap: $gap-small;

  &:first-child {
    padding-left: 85px;
  }
}

.title {
  @include regular-H3($color-white);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: $gap-small;
}

.line {
  border: 1px solid $color-white;
  opacity: 0.1;
}
