.blocks {
  display: flex;
  gap: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
