.blocks {
  display: flex;
  gap: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:first-child {
    padding-left: 85px;
  }
}

.title {
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.line {
  border: 1px solid #fff;
  opacity: 0.1;
}
