.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: 120%;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
