@import "../../styles/variables";
@import "../../styles/typography";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: $gap-medium;
}

.title {
  @include regular-H2($color-white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: $gap-medium;
}
