@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/mixins';

.container {
  @include flex-direction-column;

  width: 100%;
  align-items: center;
  gap: $gap-medium;
}

.title {
  @include regular-h2($color-white);
}

.content {
  @include flex-direction-column;

  width: 100%;
  align-items: center;
  gap: $gap-medium;
}
