@import "./variables";
@import "./mixins";

@mixin default($color) {
  font-style: normal;
  font-stretch: normal;
  color: $color;
}

@mixin h1 {
  font-family: $font-family-second;
  font-size: 53px;
  line-height: 120%;
}

@mixin h2 {
  font-family: $font-family-second;
  font-size: 28px;
  line-height: 120%;
}

@mixin h3 {
  font-family: $font-family-second;
  font-size: 18px;
  line-height: 133%;
}

@mixin span($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin label {
  font-size: 16px;
  line-height: 20px;
}

@mixin input {
  border-radius: 4px;
  padding: 16px 12px 6px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;

  &::placeholder {
    opacity: 0;
  }

  &:focus {
    outline: 1px solid $color-purple-illusionist;
  }
}

@mixin placeholder {
  font-size: 14px;
  line-height: 18px;
}

@mixin button {
  @include transition(all);

  border-radius: $border-radius-default;
  padding: 10px 24px;
  width: fit-content;
  font-size: 18px;
  line-height: 133%;
  white-space: nowrap;
  background-color: $color-purple-illusionist;

  &:hover {
    color: $color-white;
    background-color: $color-gloomy-purple;
  }

  &:active {
    background-color: $color-gloomy-purple;
  }

  &:disabled {
    color: $color-wind-cave;
    background-color: $color-moonless-mystery;
  }
}

@mixin regular-H1($color) {
  @include default($color);
  @include h1;

  font-weight: $font-weight-regular;
}

@mixin medium-H1($color) {
  @include default($color);
  @include h1;

  font-weight: $font-weight-medium;
}

@mixin regular-H2($color) {
  @include default($color);
  @include h2;

  font-weight: $font-weight-regular;
}

@mixin medium-H2($color) {
  @include default($color);
  @include h2;

  font-weight: $font-weight-medium;
}

@mixin regular-H3($color) {
  @include default($color);
  @include h3;

  font-weight: $font-weight-regular;
}

@mixin medium-H3($color) {
  @include default($color);
  @include h3;

  font-weight: $font-weight-medium;
}

@mixin regular-span($color, $font-size, $line-height) {
  @include default($color);
  @include span($font-size, $line-height);

  font-weight: $font-weight-regular;
}

@mixin regular-label($color) {
  @include default($color);
  @include label;

  font-weight: $font-weight-regular;
}

@mixin regular-input($color) {
  @include default($color);
  @include input;

  font-weight: $font-weight-regular;
}

@mixin regular-placeholder($color) {
  @include default($color);
  @include placeholder;

  font-weight: $font-weight-regular;
}

@mixin regular-button($color) {
  @include default($color);
  @include button;

  font-weight: $font-weight-regular;
}
