$font-family-caption: 'Halvar Breit', 'Arial', 'Helvetica', sans-serif;
$font-family-text: 'PT Root UI', 'Arial', 'Helvetica', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$gap-big: 120px;
$gap-medium: 30px;
$gap-small: 16px;
$transition-options-default: 0.3s ease;
$opacity-default: 0.5;
$border-radius-default: 14px;
$color-tristesse: #06091f;
$color-moonless-mystery: #1f2235;
$color-corbeau: #101328;
$color-wind-cave: #676c7a;
$color-purple-illusionist: #ab81f1;
$color-gloomy-purple: #8852e1;
$color-white: #fff;
$color-white-half-opacity: rgb(255 255 255 / 50%);
$color-white-low-opacity: rgb(255 255 255 / 10%);
$color-dusk-orange: #f7483d;
$media-width-laptop: 1440px;
$media-width-tablet: 768px;
$media-width-mobile: 540px;
