.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  font-style: normal;
  font-weight: 500;
  font-size: 53px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 120px;
}
