.block {
  display: flex;
  flex-direction: column;

  &:first-child {
    border-right: 1px solid rgb(255 255 255 / 10%);
  }
}

.title {
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

.fieldsets {
  display: flex;
  flex-direction: column;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}
