.button {
  background: #ab81f1;
  border-radius: 14px;
  border: none;
  padding: 8px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #ffffff;
  cursor: pointer;

  &:active {
    background: #8852e1;
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.2);
    color: #676c7a;
  }
}
