.label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  gap: 16px;

  &_column {
    flex-direction: column;
  }
}
