@import '../../../styles/variables';
@import '../../../styles/typography';

.label {
  @include regular-label($color-white);

  display: flex;
  align-items: center;
  cursor: pointer;
  gap: $gap-small;

  &_column {
    flex-direction: column;
  }
}
