.complete {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 28px 24px;
  background: #101328;
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.title {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255 255 255 / 50%);
}

.subtitle {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
