@import "../../../styles/variables";
@import "../../../styles/typography";
@import "../../../styles/mixins";

.box {
  @include flex-direction-row;

  position: relative;
  border-radius: 4px;
  width: 288px;
  background-color: $color-white-low-opacity;

  &:focus-within > .placeholder {
    top: 25%;
    font-size: 11px;
    color: $color-purple-illusionist;
  }
}

.input {
  @include regular-input($color-white);

  position: relative;
  z-index: 1;
  flex-grow: 1;

  &_password {
    padding-right: 40px;
  }
}

.placeholder {
  @include regular-placeholder($color-wind-cave);
  @include transition(all);

  position: absolute;
  left: 12px;
  top: 50%;
  z-index: 0;
  transform: translate(0, -50%);

  &_active {
    top: 25%;
    font-size: 11px;
    color: $color-purple-illusionist;
  }
}

.button {
  @include flex-direction-row;

  position: absolute;
  right: 12px;
  top: 50%;
  z-index: 2;
  align-items: center;
  transform: translate(0, -50%);

  @media screen and (min-width: 875px) {
    &:hover {
      svg {
        circle {
          fill: $color-white;
        }

        path {
          stroke: $color-white;
        }
      }
    }
  }
}
