.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: none;
  padding: 0;
}

.error {
  margin-top: 5px;
  height: 14px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 110%;
  color: #f7483d;
  opacity: 0;

  &_active {
    opacity: 1;
  }
}
