.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: none;
  padding: 0;
}

.content {
  position: relative;
  display: flex;

  &:focus-within > .placeholder {
    color: #ab81f1;
    transform: translate(-3px, -100%) scale(0.8);
  }
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #676c7a;
  transform: translate(0, -50%);
  transition: all 0.2s ease-out;
}

.placeholder_active {
  color: #ab81f1;
  transform: translate(-3px, -100%) scale(0.8);
}

.error {
  height: 14px;
  margin-top: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 110%;
  color: #f7483d;
  opacity: 0;
}

.error_active {
  opacity: 1;
}
