@import './vendor/normalize.css';
@import './vendor/fonts/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Halvar Breitschrift', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #06091f;
}
