.tabs {
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding: 4px 5px;
  background: #1f2235;
  gap: 30px;
}

.tab {
  border: none;
  border-radius: 14px;
  padding: 10px 24px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 133%;
  white-space: nowrap;
  color: #676c7a;
  background-color: transparent;
  cursor: pointer;

  &_active {
    color: #fff;
    background: #ab81f1;
  }
}
