@import '../../../styles/variables';

.tabs {
  display: flex;
  align-items: center;
  border-radius: $border-radius-default;
  padding: 4px 5px;
  background-color: $color-moonless-mystery;
  gap: $gap-medium;
}

.button {
  white-space: nowrap;
  color: $color-wind-cave;
  background-color: transparent;

  &_active {
    color: $color-white;
    background-color: $color-purple-illusionist;
  }
}
